.card {
  display: inline-block;
  margin: .5rem;
  padding: 1rem;

  text-align: center;

  border-radius: .5rem;
  /* border-width: .25rem; */
  box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
  background-color: #9eebcf;

  /* -moz-osx-font-smoothing:grayscale; */
  /* backface-visibility:hidden; */
  /* transform: translateZ(0); */
  transition: transform 0.25s ease-out;
}

.card:hover,
.card:focus {
  transform:scale(1.05);
}

.card:active {
  transform:scale(.90);
}